<!DOCTYPE html>
<html>
  <head>
    <title>Form and Profile Page</title>
    <link rel="stylesheet" type="text/css" href="../styles/form-and-profile.css">
  </head>
  <body>
    <div id="header">
      <h1 id="title">U-REACH</h1>
    </div>
    <div id="padding">
    </div>
    <h2 id="forms_header"> tell us about yourself.</h2>
    <br>
    <br>
    <div class="container">
      <form method="post">
        <h3 id="school-title">School</h3>
        <select name="schools">
          <option value="1">Georgia Institute of Technology</option>
          <option value="2">Georgia State University</option>
          <option value="3">Emory University</option>
          <option value="4">University of Georgia</option>
          <option value="5">Kennesaw State University</option>
        </select>

        <h3 id="age-title">Age</h3>
        <select name="ages">
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
        </select>

        <h3 id="major-title">Major</h3>
        <select name="majors">
          <option value="business">Business Administration</option>
          <option value="psychology">Psychology</option>
          <option value="nursing">Nursing</option>
          <option value="biology">Biology</option>
          <option value="education">Education</option>
          <option value="computer_science">Computer Science</option>
          <option value="criminal_justice">Criminal Justice</option>
          <option value="accounting">Accounting</option>
          <option value="history">History</option>
          <option value="economics">Economics</option>
          <option value="english">English</option>
          <option value="engineering">Engineering</option>
        </select>
        <h3 id="social_media_title">Social Media URL</h3>
          <input type="text" placeholder="url"><br>
        <h3 id="interest_title">Interests</h3>
          <input type="text" placeholder="what do u love?"><br><br>
        <input type="submit" value="submit">
      </form>
    </div>
  </body>
</html>
