<!DOCTYPE html>
<html>
  <head>
    <title>Form and Profile Page</title>
    <link rel="stylesheet" type="text/css" href="../styles/form-and-profile.css">
  </head>
  <body>
    <!-- initial way to put in vid -->
    <!-- <video autoplay muted loop id="fireworks">
      <source src="../videos/fireworks.mp4" type="video/mp4">
    </video> -->
    <div id="header">
      <h1 id="title">U-REACH</h1>
    </div>
    <div id="padding">
    </div>
    <div class="container">
      <h2 id="forms_header"> tell us about yourself.</h2><br>
      <form method="post">
        <h3 id="school-title">School</h3>
        <select name="schools">
          <option value="Georgia Institute of Technology">Georgia Institute of Technology</option>
          <option value="Georgia State University">Georgia State University</option>
          <option value="Emory University">Emory University</option>
          <option value="University of Georgia">University of Georgia</option>
          <option value="Kennesaw State University">Kennesaw State University</option>
        </select>

        <h3 id="age-title">Age</h3>
        <select name="ages">
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
        </select>

        <h3 id="major-title">Major</h3>
        <select name="majors">
          <option value="Business">Business Administration</option>
          <option value="Psychology">Psychology</option>
          <option value="Nursing">Nursing</option>
          <option value="Biology">Biology</option>
          <option value="Education">Education</option>
          <option value="Computer Science">Computer Science</option>
          <option value="Criminal Justice">Criminal Justice</option>
          <option value="Accounting">Accounting</option>
          <option value="History">History</option>
          <option value="Economics">Economics</option>
          <option value="English">English</option>
          <option value="Engineering">Engineering</option>
        </select>
        <h3 id="social_media_title">Social Media URL</h3>
        <input name="social_media" type="text" placeholder="url"><br>

        <h3>Image URL</h3>
        <input name="image" type="text" placeholder="url"><br>

          <!-- Use a check-box type for grabbing the interests -->
        <h3 id="interest_title" class = "interest_form">Interests</h3>
        <input type="checkbox" name="interests" value="photography">photography<br>
        <input type="checkbox" name="interests" value="traveling">traveling<br>
        <input type="checkbox" name="interests" value="reading">reading<br>
        <input type="checkbox" name="interests" value="hiking">hiking<br>
        <input type="checkbox" name="interests" value="singing">singing<br><br>
        <input type="submit" value="submit">
      </form>
    </div>
  </body>
  <script src="scripts/form.js" type="text/javascript"></script>
</html>
