<!DOCTYPE html>
<html class="html_image">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="../styles/home.css">
  </head>
  <style>A {text-decoration: none;} </style>
  <body>
    <div id="header" >
      <h1 id="title">U-REACH</h1>
      <div class="buttons">
        <a class="navbutton" href={{logout_link}}>Logout</a>
        <a class="navbutton" href='/people'>Matched</a>
        <a class="navbutton" href='/form'>Profile</a>
      </div>
    </div>
    <h2 id="wel_message">{{welcome}}</h2>
  </body>
  <script src="scripts/pics.js" type="text/javascript"></script>
</html>
