<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="../styles/login.css">
  </head>

  <body>
    <div id="header">
      <h1 id="title">U-REACH</h1>
    </div>
    <div id="padding">
    </div>
    <div id="loginBox">
      <h3 id="login-title">Enter your name</h3>
      <form id="login-form" method="post">
        <input name ="first_name" type="text" placeholder="first name"><br><br>
        <input name ="last_name" type="text" placeholder="last name"><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>

</html>
