<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="../styles/login.css">
  </head>

  <body>
    <div id="header">
      <h1 id="title">U-REACH</h1>
    </div>
    <div id="padding">
    </div>
    <div id="loginBox">
      <h3 id="login-title">Login</h3>
      <form id="login-form">
        <input type="text" placeholder="username"><br><br>
        <input type="text" placeholder="password"><br><br>
        <input type="submit" value="Login">
      </form>
    </div>
  </body>

</html>
