<!DOCTYPE html>
<html>
<head>
  <title>People Page</title>
  <link rel="stylesheet" type="text/css" href="../styles/people.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>A {text-decoration: none;} </style>
<body>
  <div id="header">
    <a id="title" href="/home">U-REACH</a>
    <div class="buttons">
      <a class="navbutton" href={{logout_link}}>Logout</a>
      <a class="navbutton" href='/home'>Home</a>
      <a class="navbutton" href='/info_update'>Profile</a>
    </div>
  </div>
  <br>
  <div id="people">
    <h3 id="people-text">connect with:</h3>
    <ul class="member-list">
      {% for item in matches %}
      <li class="member-item">
        <div>
          <img class="profile-image" src={{item.image_url}}>
        </div>
        <div class="member-item-info">
          <div class="member-item-personal-info">
            <h3 style="display: inline" id="name">{{item.name}}</h3>
            <h3 style="display: inline" id="social_media">{{item.social_media}}</h3>
            <h3>{{item.email}}</h3>
            <a href="{{insta_url}}" class="fa fa-instagram" ></a>
          </div>
        </div>
        <div id="col2">
          <h3 id="major">{{item.major}}</h3>
          <h3 id="interests">Interests:
            {% for interest in item.interests %}
              {% if loop.index != item.interests|length %}
                {{interest.name}},
              {% else %}
                {{interest.name}}
              {% endif %}
            {% endfor %}
          </h3>
        </div>
      </li>
      {% endfor %}
    </ul>
    <h2 id="error">{{Error}}</h2>
  </div>
</body>

</html>

<!-- add this to span for name within span:
style= "
background: black;
padding: 3px 10px;
color: white;
border-radius: 3px;" -->
