<!DOCTYPE html>
<html>
  <head>
    <title>People Page</title>
    <link rel="stylesheet" type="text/css" href="../styles/people.css">
  </head>

  <body>
    <div id="header">
      <h1 id="title">U-REACH</h1>
      <div class="buttons">
        <a class="navbutton" href='/'>Home</a>
        <a class="navbutton" href='/people'>Matched</a>
        <a class="navbutton" href='/form'>Profile</a>
      </div>
    </div>
    <h2>{{Error}}</h2>
    <div id="people">
      <h3 id="people-text">people to hang with!</h3>
      <div>
        {% for item in matches %}<br>
        <div id="person">
          <h3 id='name'>{{item.name}}</h3>
          <h3 id="email">{{item.email}}</h3>
          <h3 id="social_media">{{item.social_media}}</h3>
        </div>
        {% endfor %}
      </div>
  </body>

</html>
