<!DOCTYPE html>
<html>
  <head>
    <title>Start Page</title>
    <link rel="stylesheet" type="text/css" href="../styles/start.css">
  </head>
  <style>A {text-decoration: none;} </style>
  <body>
    <div class= "container">
      <!-- more overflow attempts -->
      <!-- <div class= "fullscreen_image">
        <image id= "bofa" src="../images/bank.jpg">
      </div> -->
      <div id="header">
        <a id="title" href="/">U-REACH</a>
        <div id="login-header">
          <!-- <a class="navbutton" href="/login">login/register</a> -->
          <form action="/login">
            <input type="image" id="sign_in_button" src="../images/btn_google_signin_light_normal_web.png" />
          </form>
        </div>
      </div>
      <div id="padding">
      </div>
      <div id="outer-box">
        <h1 id="slogan">Universities thrive on community. U-REACH helps you find yours. </h1>
      </div>
    </div>
    <div class="below">
      <div class="below-box">
        <h2> who we are </h2>
        <p> Imagine this: your college campus is a universe and there are galaxies of communities there waiting to be born. U-REACH is here to act as a launchpad—your launchpad—to connect with
        fellow students based on your unique interests. Streamlining the journey to finding a network on your campus, U-REACH will match you with recommended students who share your passions. </p>
        <p>It's time to reach out.</p>
      </div>
    </div>
    <!-- <div class="footer">
      <h4>created by: us</h4>
    </div> -->
    <!-- overflow attempts start here -->
    <!-- <section class="section section-a">
      <div class="container">
        <h1> Section A </h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </section> -->
  </body>
</html>
