#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

#title {
  font-size: 24pt;
  letter-spacing: 5px;
  text-align: left;
  padding-left: 20px;
  font-weight: lighter;
  font-family: helvetica;
}

/* #padding {
  height: 150px;
  width: auto;
} */

#forms_header {
  text-align: center;
  font-family: helvetica;
  font-weight: lighter;
  padding-bottom: 15px;
  border-bottom-style: dashed;
  border-width: thin;
  font-size: 26pt;
}

h3 {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 16px;
}

html {
  background: url("../images/bank.jpg") no-repeat center center fixed;
  background-size: cover;
}

select {
  background-color: white;
  cursor: pointer;
}
.container {
    border-radius: 10px;
    background-color: #ffe8eb;
    /* display: flex;
    vertical-align: middle; */
    width: 900px;
    height: 750px;
    margin: auto;
    overflow-y: scroll;
    text-align: center;
    /* text-align: justify; */
    font-family: helvetica;
    font-weight: lighter;
}
input[type=submit] {
    background-color: #c3f9e8;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #99bfb3;
}

.options {
  font-size: 10pt;
}

input[type=text], select, textarea {
    width: 500px;; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=checkbox] {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 12pt;

/* #fireworks {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
} */
