#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.html_image {
  background: url("../images/bank.jpg") no-repeat center center fixed;
  background-size: cover;
  transition: background 2s linear;
  overflow-x: hidden;
}
body {
  margin: 0px;
}

#title {
  font-size: 24pt;
  letter-spacing: 5px;
  text-align: left;
  padding-left: 20px;
  font-weight: lighter;
  font-family: helvetica;
  color: black;
}

.buttons a {
  float: right;
  padding: 14px 17px;
  color: black;
  font-family: helvetica;
  font-weight: lighter;
}

#wel_message {
  text-align: center;
  font-family: helvetica;
  font-weight: lighter;
  color: white;
  font-size: 30pt;
}
.container {
  height: 100vh;
}
.below {
  background-color: #cab5acf0;
  height: 88px;
  width: 100vw;
  display: flex;
}
.below-box {
  font-family: helvetica;
  font-weight: lighter;
  text-align: center;
  font-size: 14pt;
  margin: auto;
}
