#header {
  font-family: helvetica;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: #e6e6e6;
  width: 800px;
  margin: auto;
}

html {
  background: url("../images/bank.jpg") no-repeat center center fixed;
  background-size: cover;
}

#title {
  font-size: 36pt;
  letter-spacing: 5px;
  text-align: center;
  font-weight: lighter;
}
#padding {
  height: 150px;
  width: auto;
}

#loginBox {
  width: 500px;
  height: 300px;
  border-style: solid;
  border-color: black;
  margin: auto;
  background-color: white;
}

#login-title {
  text-align: center;
  font-family: helvetica;
  font-weight: lighter;
  font-size: 20pt;
}

#login-form {
  text-align: center;
}

input[type=text] {
  font-size: 12pt;
}
