#header {
  font-family: helvetica;
  border-style: dashed;
  border-color: black;
  background-color: #FAEBD7;
}

body {
  background-image: url("http://hdqwalls.com/wallpapers/city-blurred-hd.jpg");
}

#title {
  font-size: 36pt;
  letter-spacing: 5px;
  text-align: center;
}

#login-header {
  display: flex;
  justify-content: flex-end;
}
#login {
  padding-top: 5px;
  font-size: 14pt;
  color: white;
  font-family: helvetica;
}

#padding {
  height: 100px;
  width: auto;
}

#outer-box {
  width: 800px;
  height: 500px;
  border-style: solid;
  border-color: black;
  margin: auto;
  display: flex;
  align-items: center;
}

#slogan {
  text-align: center;
  font-family: helvetica;
  font-size: 36pt;
}
